<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeelight Music Mode Settings - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <h1>Yeelight Music Mode Settings</h1>
    <ul>
        <li><a href="{{ url_for('devices') }}">Devices</a></li>
        <li><a href="{{ url_for('schemes') }}">Color Schemes</a></li>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>
</body>
</html>